.welcome-section
  section.parallax
    - for (var i = 1; i <= 7; i++)
      .parallax__layer(data-speed=`${0.1 + (i/10.5)/10}`)
        picture
          source(srcset=require(`images/parallax/${i}_1200.${i === 1 ? 'jpg' : 'png'}`) media="(max-width: 1200px)").parallax__image
          img(srcset=require(`images/parallax/${i}.${i === 1 ? 'jpg' : 'png'}`)).parallax__image
  
  section.fullscreen-section.author#author
    .container.author__container
      include ../sections/header.pug
      .author__content
        .user-info
          .user-info__desc Личный сайт #[span.user-info__occ веб разработчика]
          .user-info__username Дмитрий Крюков
      .author__downbtn
        a(href="#about").author__downbtn-link Скролл
  
  section.about#about
    .container
      .about__columns
        .about__user
          .user
            .user__avatar
              .user__avatar-wrapper
                +image("content/user.jpg", "avatar__pic")
            .user__desc
              - 
                var userdata = [
                  ['Проживаю', 'Канада, Монреаль'],
                  ['Возраст', '40 лет'],
                  ['Родился', '19 января 1980'],
                ]
              table.user__table
                each item in userdata
                  tr
                    td.user__table-title #{item[0]}
                    td.user__table-content #{item[1]}
        .about__user-text
          .about__user-text--content
            .about__prolog Привет меня зовут
            h1.about__title Дмитрий Крюков
            .about__text
              p До веб разработки я был графическим дизайнером.
          .about__ps Этот сайт я разработал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент.

  
              
      


      

