header.header
  .author__logo
    a.user-logo(href="") DK

  .author__menu
    +nav('menu', 'menu-header')

  .author_links
    - 
      var icons = [
        ['insta', 'https://www.instagram.com/'],
        ['vk', 'https://vk.com/'],
        ['github', 'https://github.com/dmitriykryukov'],
      ]
    ul.socials
      each item, index in icons
        li.socials__item(class=`${index === 1 ? 'active' : ''}`)
          a(class=`socials__link` href=`${item[1]}` target="_blank")
            +icon(`${item[0]}`, 'socials__icon')
    
  .menu-toggle
    input(type="checkbox").menu-burger
    span.layer
    span.layer
    span.layer

    .menu-list
      +nav('menu-column', 'menu__toggle')
      .menu-toggle__socials
        ul.socials
        each item, index in icons
          li.socials__item.socials__item-toggle(class=`${index === 1 ? 'active' : ''}`)
            a(class=`socials__link` href=`${item[1]}` target="_blank")
              +icon(`${item[0]}`, 'socials__icon')
        
