mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`);
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=icon.url)

mixin image(path, className)
  img(src=require(`images/${path}`) class=className)


-
  var navItems =  [
      ['Главная','#author'],
      ['Обо мне', '#about'],
      ['Навыки', '#skills'],
      ['Работы', '#works'],
      ['Отзывы', '#comments'],
      ['Связаться', '#feedback']
  ]

mixin nav(className, classStyle)
  nav(class=`${className} ${classStyle}`)
    ul(class=`${className}__list`)
      each item in navItems
        li(class=`${className}__item`)
          a(class=`${className}__link` href=`${item[1]}`)= item[0]
      
